en 
conf t

hostname R1
enable secret class
username Admin privilege 15 secret Admin123

ip domain-name www.nonexistent.org
crypto key gen rsa
1024

# console line
line con 0
password cisco
login local 


# virtual line
line vty 0 15 
password cisco
transport input ssh
login local 
exit

#encryption
service password-encryption

banner motd # 
Unauthorized Access Detected 
Please enter login credentials
#

#----------------- Below are subject to change ---------------


# vlan encapsulation
int g0/1.10
description Staff default-gateway
encapsulation dot1q 10 
ip add 192.168.10.1 255.255.255.0

int g0/1.20
description Student default-gateway
encapsulation dot1q 20 
ip add 192.168.20.1 255.255.255.0

int g0/1.30
description Guest_Public default-gateway
encapsulation dot1q 30 
ip add 192.168.30.1 255.255.255.0

int g0/1.99
description Management default-gateway 
encapsulation dot1q 99
ip add 192.168.99.1 255.255.255.0

int g0/1.1000
description Native sub interface
encapsulation dot1q 1000 native


#physical ports
int g0/1 
description Trunk to S2
no shut

int g0/2
description Link to ISP (R2)
ip address dhcp
no shut
exit

# route all unknown ip traffic to ISP
ip route 0.0.0.0 0.0.0.0 209.165.200.1


# Nat Wizard 
ip access-list standard NAT
permit 192.168.10.0 0.0.0.255
permit 192.168.20.0 0.0.0.255
permit 192.168.30.0 0.0.0.255
permit 192.168.99.0 0.0.0.255

ip nat inside source list NAT interface g0/2 overload 

int range g0/1.10 , g0/1.20 , g0/1.30 , g0/1.99
ip nat inside

int g0/2
ip nat outside
exit

# DHCP exclusion of future scalability
ip dhcp excluded-address 192.168.10.1 192.168.10.9
ip dhcp excluded-address 192.168.20.1 192.168.20.9
ip dhcp excluded-address 192.168.30.1 192.168.30.9


#Staff pool
ip dhcp pool Staff-pool
network 192.168.10.0 255.255.255.0
default-router 192.168.10.1
domain-name www.nonexistent.com
dns-server 8.8.8.8
lease 1 0 0

#Student pool
ip dhcp pool Student-pool
network 192.168.20.0 255.255.255.0
default-router 192.168.20.1
domain-name www.nonexistent.com
dns-server 8.8.8.8
lease 0 12 0

#Guest-Public pool
ip dhcp pool Guest-Public-pool
network 192.168.30.0 255.255.255.0
default-router 192.168.30.1
domain-name www.nonexistent.com
dns-server 8.8.8.8
lease 0 2 0


end 
wr