en 
conf t

hostname R1
enable secret class
username Admin privilege 15 secret AAAdmin

ip domain-name www.nonexistent.org
crypto key gen rsa
1024

# console line
line con 0
password cisco
login local 


# virtual line
line vty 0 15 
password cisco
transport input ssh
login local 
exit

#encryption
service password-encryption

banner motd # 
Unauthorized Access Detected 
Please enter login credentials
#

#----------------- Below are subject to change ---------------


# vlan encapsulation
int g0/1.10
description Staff default-gateway
encapsulation dot1q 10 
ip add 192.168.10.1 255.255.255.0

int g0/1.20
description Student default-gateway
encapsulation dot1q 20 
ip add 192.168.20.1 255.255.255.0

int g0/1.30
description Guest/Public default-gateway
encapsulation dot1q 30 
ip add 192.168.30.1 255.255.255.0

int g0/1.99
description Management default-gateway 
encapsulation dot1q 99
ip add 192.168.99.1 255.255.255.0

int g0/1.1000
description Native sub interface
encapsulation dot1q 1000 native


#physical ports
int g0/1 
description Trunk to S2
no shut

int g0/2
description Link to ISP (R2)
ip address 209.165.200.1 255.255.255.252
no shut
exit

# route all unknown ip traffic to ISP
ip route 0.0.0.0 0.0.0.0 209.165.200.2


# DHCP exclusion of future scalability
ip dhcp excluded-address 192.168.10.1 192.168.10.9
ip dhcp excluded-address 192.168.20.1 192.168.20.9
ip dhcp excluded-address 192.168.30.1 192.168.30.9


#Staff pool
ip dhcp pool Staff-pool
network 192.168.10.0 255.255.255.0
default-router 192.168.10.1
domain-name www.nonexistent.com

#Student pool
ip dhcp pool Student-pool
network 192.168.20.0 255.255.255.0
default-router 192.168.20.1
domain-name www.nonexistent.com

#Guest-Public pool
ip dhcp pool Guest-Public-pool
network 192.168.30.0 255.255.255.0
default-router 192.168.30.1
domain-name www.nonexistent.com


end 
wr