en 
conf t

hostname S1
enable secret class
username Admin secret Admin123

ip domain-name www.nonexistent.org
crypto key gen rsa
1024

# console line
line con 0
password cisco
login local 


# virtual line
line vty 0 15 
password cisco
transport input ssh
login local 
exit

#encryption
service password-encryption

banner motd # 
Unauthorized Access Detected 
Please enter login credentials
#

#----------------- Below are subject to change ---------------

#default-gateway (router gateway)
ip default-gateway 192.168.99.1

#vlan creation 
vlan 10 
name Staff
vlan 20 
name Student 
vlan 30 
name Guest/Public 
vlan 99 
name Management 
vlan 1000
name Native 
vlan 1001
name Unused
exit


#layer 2 security (dhcp snoop guard + arp guard + port shutdown + assign to unused vlan)
ip dhcp snooping
ip dhcp snooping vlan 10, 20, 30, 1000
ip arp inspection vlan 10, 20, 30, 1000
int range f0/1 - 24 , g0/1 - 2
switchport mode access
switchport access vlan 1001
shutdown 


#trunk links 
int range f0/21 - 24
switchport nonegotiate
switchport mode trunk
ip dhcp snooping trust
ip arp inspection trust
shutdown


#port-channel 1
int range f0/21 - 22
channel-group 1 mode active
int port-chan 1 
switchport mode trunk 
switchport trunk allowed vlan 10, 20, 30, 99, 1000
switchport trunk Native vlan 1000 
int range f0/21 - 22
no shutdown

#port-channel 2 
int range f0/23 - 24
channel-group 2 mode active 
int port-chan 2
switchport mode trunk 
switchport trunk allowed vlan 10, 20, 30, 99, 1000
switchport trunk Native vlan 1000 
int range f0/23 - 24
no shutdown


#end devices (dupe this for each end device)
int [port]
switchport mode access 
switchport access vlan [vlan id]
switchport port-security
switchport port-security max 1 
switchport port-security violation shutdown
switchport port-security mac-address sticky
spanning-tree portfast
spanning-tree bpduguard enable
ip dhcp snooping limit rate 6
no shutdown 


#management ip config 
int vlan 99
description Management Interface
ip add 192.168.99.2 255.255.255.0
no shutdown


end
wr